body{
    background: url("https://i.postimg.cc/TY28jTqJ/bg4-ia.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: "Gabarito", sans-serif;
    margin: 20px;
}

.logo{
    text-align: end;
}

.logo img{
    width: 15%;
    margin-top: 10px;
}

.titulo{
    margin-top: 100px;
    
}

.titulo h2{
    color: #19caca;
    background: rgba(31, 31, 31, 0.7);;
    font-size: 2.5em;
    border: 2px dotted #19caca;
    display: flex;
    justify-content: center;
}

.conteudo-jogo{
    background: rgba(34, 34, 34, 0.7);
    box-shadow: 0 0 5px #ff1b7b;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.titulo, .conteudo-jogo {
    width: 100%;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
.conteudo-jogo:hover{
    background: rgba(0, 0, 0);
    box-shadow: 0 0 5px #19caca;
}

h2, p{
    color: #faf5f5;
    display: flex;
    justify-content: center;
}

button{
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: #ff1b7b;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background 0.5s;
    display: flex;
    margin: 0 auto;
}

button:hover{
    background: #19caca;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto; /* Isso empurra o footer pro final */
    background: rgba(78, 78, 78, 0.7);
    color: white;
    padding: 5px;
    text-align: center;
}